<div class="container">
  <div class="card col-md-12">

    <div class="card-header bg-dark text-white border">
      yo me encargo del header
    </div>

    <div class="card-body bg-primary text-white border">
      <h5 class="card-title">MARIK</h5>
      <p class="card-text">SUB-TITTLE-DEV-4LV4R0</p>
      <p class="card-text">SUB-TITTLE-DEV-ANOTHER</p>
      <p class="card-text"> Vamos a presentar un ejemplo simple de ramificar y de fusionar, 
        con un flujo de trabajo que se podría presentar en la realidad. Imagina que sigues los 
        siquientes pasos:
        Trabajas en un sitio web.
        Creas una rama para un nuevo tema sobre el que quieres trabajar.
        Realizas algo de trabajo en esa rama.
        En este momento, recibes una llamada avisándote de un problema crítico que has de resolver. 
        Y sigues los siguientes pasos:
        <li type="square"> Vuelves a la rama de producción original.</li>
        <li type="square"> Creas una nueva rama para el problema crítico y lo resuelves trabajando 
          n ella.</li>
        <li type="square">Tras las pertinentes pruebas, fusionas (merge) esa rama y la envías (push) 
           la rama 
        de producción.</li>
        <li type="square">Vuelves a la rama del tema en que andabas antes de la llamada y continuas 
          tu trabajo.</li>
    </p>
      
    </div>
    <div class="card-footer bg-danger text-white border">
      <h5 class="card-title">Title</h5>
      <p class="card-text">y quisini del footer</p>
    </div>
  </div>
</div>