<div class="container">
  <div class="card col-md-12">

    <div class="card-header bg-dark text-white border">
      yo me encargo del header
      <p>Git es un software de control de versiones 
        diseñado por Linus Torvalds, pensando en la 
        eficiencia y la confiabilidad del mantenimiento 
        de versiones de aplicaciones cuando éstas tienen 
        un gran número de archivos de código fuente.</p>
    </div>

    <div class="card-body bg-primary text-white border">
      <h5 class="card-title">Title</h5>
      <p class="card-text">y tu del body</p>
    </div>

    <div class="card-footer bg-danger text-white border">
      <h5 class="card-title">Title</h5>
      <p class="card-text">y quisini del footer</p>
    </div>
  </div>
</div>